@import "./fonts.css";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #111827;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  color: #f1f5f9;
  background-color: #0f172a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}
